<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}


            <!-- <h1 class="welcome">Welcome to CodeFusion</h1> -->
            <h2 class="welcome">Answers are the elixer for what ails ya.</h2>

            <form action="/new-thread/{{specific_category.getCategory}}" method="get">
              <button class="button-add" type="submit" name="button"><img src="/img/new_comment.png">&nbsp add a new thread</button>
            </form>
            <br>

            <table class="table table-striped table-hover ">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Thread Name</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% set count = 0 %}
                      {% if threads is not empty %}
                      {% for thread in threads %}
                      {% set count = count + 1%}
                      <tr>
                          <td>{{count}}</td>
                          <td><a href="/category/{{specific_category.getCategory}}/{{thread.getId}}">{{thread.getPostTitle}}</a></td>
                      </tr>
                      {% endfor %}
                      {%endif%}
                  </tbody>
                </table>
                {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
