<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}
            {% if alert != null %}
          <div class="alert alert-dismissible alert-danger alert-xs">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p align="center">{{alert}}</p>
          </div>
          {% endif %}
            <div id="post-wrapper">
                <div class="title jumbotron">
                    <h1 class="welcome">Welcome to CodeFusion</h1>
                    <h2 class="welcome">Answers are the elixer for what ails ya.</h2>
                </div>

                <div id="announcements" class="well">
                    <div class="panel panel-default">
                      <div class="panel-heading">Announcements</div>
                      <div class="panel-body">
                          <h2>Create a user account to be able to post or comment on CodeFusion!</h2>
                      </div>
                    </div>
                </div>

                <div id="posts" class="well">
                    <div class="panel panel-default">
                      <div class="panel-heading">Top 5 Categories</div>

                      <div class="panel-body">
                          {% if all_categories is not empty %}
                          <ol>
                              {% for category in  all_categories|slice(0, 5) %}
                                <li><a class="topGenerated" href="/category/{{category.getCategory}}">{{ category.getCategory }}</a></li>
                              {% endfor %}
                          </ol>
                          {% endif %}
                      </div>
                    </div>
                </div>

                <div class="well" id="comment-holder">
                    <div class="panel panel-default">
                        <div class="panel-heading">Top 5 Threads</div>
                        <div class="panel-body" id="comments-here">
                            
                                    <div class="row">
                                        {% if all_threads is not empty %}
                                        <ol>
                                            {% for thread in all_threads|slice(0, 5) %}
                                                <li><a class="topGenerated" href="/category/{{thread.getCategory }}/{{ thread.getId }}">{{ thread.getPostTitle }}</a></li>
                                            {% endfor %}
                                        </ol>
                                        {% endif %}
                                    </div>

                                <div class="col-md-10">
                                    <div id="append-comments">
                                </div>

                            </div>


                    </div>
                </div>
            </div>


            {% include '/components/footer.html.twig' %}

        </div>
    </body>
</html>
