<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}
            <div class="thread-post well">
                <h2>{{ title }}</h2>
                <div class="panel panel-default">
                    <!--  post will be generated here  -->
                    {{ post }}
                </div>
                <!-- icons for posts -->
                <div class="row">
                    <div class="post-right">
                        <form action="/delete-thread/{{specific_thread.getId}}" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="categoryName" value="{{specific_category.getCategory}}">
                            <button class="button-add" type="submit" name="delete-button"><img src="/img/delete.png"></button>
                        </form>
                        <form class="" action="/THIS NEEDS A ROUTE" method="post">
                            <button class="button-add" type="submit" name="edit-button"><img src="/img/edit.png"></button>
                        </form>
                    </div>
                <div class="post-right">
                    <form action="/delete-thread/{{specific_thread.getId}}" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="categoryName" value="{{specific_category.getCategory}}">
                        <button type="submit" name="delete-button"><img src="/img/delete.png"></button>
                    </form>
                    <script type="text/javascript">
                    var category = '{{specific_category.getCategory}}';
                    var thread = '{{specific_thread.getId}}';
                    </script>
                    <div class="editThread">

                        <button type="button" class="editThreadBTN" name="edit-init-button"><img src="/img/edit.png"></button>
                    </div>
                </div>
            </div>


            <!-- TESTING -->
            <div class="row well">
                <div class="col-md-2">
                    <button type="button" name="button"><img src="/img/dislike.png"></button>
                    <button type="button" name="button"><img src="/img/dislike.png"></button>
                </div>
                <div class="col-md-8">
                    <p>regohigoidhdxhl eihgo ;dfhsniodshefgio hsio dhds dkv,xidashoighrefh wihfieoh ioh sfddfhiofhfkldflhkfd</p>
                </div>
                <div class="col-md-2">
                    <button type="button" name="button"><img src="/img/dislike.png"></button>
                    <button type="button" name="button"><img src="/img/dislike.png"></button>
                </div>
            </div>

            <!-- start of new comment div -->
            <div class="new_comment well">
                <form action="/category/{{ specific_category.getCategory }}/{{ specific_thread.getId }}" method="post">
                    <input type="hidden" name="inputParent" value="false">
                    <textarea name="inputComment" rows="6" cols="130" placeholder="post a reply" required></textarea>
                    <button class="btn btn-primary" type="submit" name="button">Submit</button>
                </form>
            </div>
            <script type="text/javascript">
            var comments = {{ comments|json_encode|raw }}
            </script>
            <!-- end of new comment -->
            <div class="post-left well">
                <div class="comment-holder">
                    <!-- comments will be generated here -->
                    </div>
                </div>
            </div>
            {% include '/components/footer.html.twig' %}
        </div> <!-- end of container -->
    </body>
</html>
