<!DOCTYPE html>
<html>

    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{userpage.username}}
            </div>
            <div class="panel-body">
                {% if user is not empty %}
              <ul>
                <li>Bio: {{userpage.getBio}}</li>
                <li>City: {{userpage.getLocation_City}}</li>
                <li>State: {{userpage.getLocation_State}}</li>
                <li>Country: {{userpage.getLocation_Country}}</li>
              </ul>
              <button id="edit-user-bio" type="button" class="btn btn-default"> &nbsp Edit</button>
              <p>{{user.getBio}}</p>
              <form id="bio-form" name="new-bio" action="/user-bio" method="post">
                  <input name="_method" type="hidden" value = "patch">
                  <input id="bio-editor" type="hidden" name="bio" value="{{ user.getId() }}">
                  <label for="new-bio">Edit bio</label>
                  <textarea class="form-control" rows="3" id="textArea"></textarea>
                  <button id="btn-bio-cancel" type="reset" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> &nbsp Cancel</button>
                  <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp Submit</button>
              </form>
              {% endif %}
            </div>
          </div>
          <div class="panel panel-default">
            <!-- <div class="row"> -->
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">{{userpage.username}}'s Threads</div>
                  <div class="panel-body">
                    <ul>
                      {% for thread in user_threads %}
                        <li><a href="/category/{{thread.getCategory}}/{{thread.getId}}">{{thread.getPostTitle}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">{{userpage.username}}'s Posts</div>
                  <div class="panel-body">
                    {% for comment in user_comments %}
                    <!-- needs to have access to category name -->
                      <li><a href="/category/{{comment.category}}/{{comment.thread_id}}">{{comment.comment}}</a></li>
                    {% endfor %}
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>

            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
