<!DOCTYPE html>
<html>
    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">

            {% include '/components/navbar.html.twig' %}
            <div id="post-wrapper">
                <div class="title jumbotron">
                    <h1>
                        Welcome to CodeFusion <br>
                        Answers are the elixir for what ails ya.
                    </h1>
                </div>
                <div id="user-bio" class="well">
                    <div class="panel panel-default">
                      <div class="panel-heading">{{user.getUserName}} Bio</div>
                      <div class="panel-body" method="post">
                        {% if user is not empty %}
                          <p>{{user.getBio}}</p>
                          <button id="edit-user-bio" type="button" class="btn btn-default"> &nbsp Edit</button>
                          <form id="bio-form" action='/user-bio' method='post' class="form-group">
                              <label for='new-bio'>Enter bio:</label>
                              <textarea type="text" name="new-bio" class="form-control" rows="3" id="textArea" ></textarea>
                              <button type="reset" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> &nbsp Cancel</button>
                              <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp Submit</button>
                          </form>
                          {% endif %}
                      </div>
                    </div>
                </div>
                <div class="well">
                    <div class="panel panel-default" id="user-div">
                        <div class="panel-heading">{{ user.getUsername }} Profile</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-4" id="user-info">
                                        <ul>
                                            {% if user is not empty %}
                                            <li>Member Since: {{user.getCreation_date}}</li>
                                            <li>City: {{user.getLocation_city}}</li>
                                            <li>State: {{user.getLocation_state}}</li>
                                            <li>Country: {{user.getLocation_country}}</li>
                                        </ul>
                                        <p>Where are you from?</p>

                                    <form class="form-group" action="/edit-location" method="post">
                                      <label class="control-label" for="inputSmall">City</label>
                                      <input class="form-control input-sm" type="text" id="inputSmall">

                                      <label class="control-label" for="inputSmall">State</label>
                                      <input class="form-control input-sm" type="text" id="inputSmall">

                                      <label class="control-label" for="inputSmall">Country</label>
                                      <input class="form-control input-sm" type="text" id="inputSmall">

                                      <button type="reset" class="btn btn-default"><i class="fa fa-times" aria-hidden="true"></i> &nbsp Cancel</button>
                                      <button type="submit" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp Submit</button>
                                    </form>
                                    {% endif %}
                                    </div>

                                </div>
                                <div class="col-md-8">
                                    <div>
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
