<!DOCTYPE html>
<html>

    {% include '/components/head.html.twig' %}
    <body>
        <div class="container">
            {% include '/components/navbar.html.twig' %}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{userpage.username}}
            </div>
            <div class="panel-body">
              <ul>
                <li>Bio: {{userpage.getBio}}</li>
                <li>City: {{userpage.getLocation_City}}</li>
                <li>State: {{userpage.getLocation_State}}</li>
                <li>Country: {{userpage.getLocation_Country}}</li>
              </ul>
            </div>
          </div>
          <div class="panel panel-default">
            <!-- <div class="row"> -->
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">{{userpage.username}}'s Posts</div>
                  <div class="panel-body">
                    <ul>
                      {% for thread in user_threads %}
                        <li><a href="/category/{{thread.getCategory}}/{{thread.getId}}">{{thread.getPostTitle}}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">{{userpage.username}}'s Threads</div>
                  <div class="panel-body">
                    {% for comment in user_comments %}
                      <li><a href="/category/{{comment.getCommentId}}/{{comment.getThreadId}}">{{comment.getComment}}</a></li>
                    {% endfor %}
                  </div>
                </div>
              </div>
            <!-- </div> -->
          </div>

            {% include '/components/footer.html.twig' %}
        </div>
    </body>
</html>
